body{
	font-family: 'industry', sans-serif;
}

.gridItem{
	width:275px;
	margin:5px;
	float:left;
	padding:0;
	overflow: hidden;
}

.gridItem.website img{
	display:block;
	margin:0 auto;
	object-fit:cover;
	width:275px;
	height:100%;
	max-width: 275px;
	max-height:170px;
}

.gridItem.website .gridVid{
	background:#f2f2f2;
}

.media .gridBody{
	margin-top:-6px;
}

.gridVid{
	width:275px;
	height:170px;
	border:0;
	background:#333;
	overflow: hidden;
}

img.imgLg{
	width:auto;
	max-width: 100%;
	height:auto;
	background:#f2f2f2;
	padding:20px;
}

.gridBody{
	background:#f2f2f2;
	text-align: center;
	border-bottom: 5px solid #1abc9c;
}

.gridTitle{
	font-weight: bold;
	margin:0;
}

.gridTitle a{
	color:#333;
	display: block;
	padding:10px;
	min-height: 65px;
}

.gridTitle a:hover{
	background:#16a085;
	color:#fff;
}

.emptystate{
	border:1px solid #f2f2f2;
	color:#AAA;
	padding:30px;
}

.emptystate h1{
	color:#1abc9c;
}

.emptystate a.btnSeeMe{
	margin:30px 0;
}

.gridVidLg{
	width:100%;
	height:400px;
	max-height:400px;
	border:0;
}

.navbar-inverse{
	border-radius: 0;
}
.navbar-inverse .navbar-brand{
	color:#fff;
	font-weight: bold;
}
.alert-scraper{
	background:#1abc9c;
	color:#fff;
	border-radius: 0;
	padding:25px;
}

.colorMe{
	color:#1abc9c;
}

.btnSeeMe{
	background:#1abc9c;
	color:#fff;
	border-radius: 0;
	border:0;
}
.btnSeeMe:hover{
	background:#16a085;
	color:#fff;
}
.navbar-inverse .navbar-nav>li>a.btnSeeMe{
	background:#1abc9c;
	color:#fff;
}
.navbar-inverse .navbar-nav>li>a.btnSeeMe:hover{
	background:#16a085;
}

.form-control{
	border-radius: 0;
}



